{% extends "layout.html" %}

{% block body %}
<div class="center text-white">
    <div class="card border-success bg-dark">
        <div class="card-body">
            <h4 class="card-title baloo">My Account</h4>
            <hr>
            {% for key in personal_data.keys() %}
            <div class="row d-flex justify-content-center">
                <div class="col-3 text-left">
                    {{key}}
                </div>
                <div class="col-3 text-left">
                    {{personal_data.get(key)}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer d-flex justify-content-center">
            <span data-container="body" data-toggle="popover" data-placement="bottom" data-content="Delete Account" data-trigger="hover">
                <!-- Button trigger modal -->
                <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </span>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="text-right mr-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-dark">Are you sure you want to delete your account?</p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <a class="btn btn-secondary" href={{url_for("delete_account", username=session["username"])}} role="button">
                                Yes
                            </a>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div> <!-- /Modal -->
        </div>
    </div>
</div>
{% endblock body %}