{% extends "layout.html" %}

<!-- Imports -->
{% from "components/_macro.html" import form_func %}

{% block body %}
<div class="center text-white">
    <div class="card border-success bg-dark">
        <div class="card-body">
            <h4 class="card-title baloo">
                Login
            </h4>
            <hr>
            <form action="" method="POST">
            <fieldset>
                <!-- <legend>Register</legend> -->
                {{form_func(form.email)}}
                {{form_func(form.password)}}
                <button class="btn btn-primary" type="submit">
                    Login
                </button>
            </fieldset>
        </form>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-outline-transparent">New member?</a>
            <a class="btn btn-outline-primary" href={{url_for("register")}}>Register</a>
        </div>
    </div>
</div>
{% endblock body %}